body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5effae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin-top: 20%;
}
.onboarding-form-container {
  display: flex;
  flex-flow: column;
  width: 40%;
  margin: auto;
}
input {
  margin-bottom: 10px;
}

.identity {
  font-size: 4rem;
  color: red;
}
